@import url(const.css);

body{
    background-color: #222;
}
h1{
    font-family: var(--fontTitles);
    font-weight: 300;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}